global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms


frontend http
	bind :8080

	default_backend stats

backend stats
	mode http
	stats enable

    stats enable
    stats uri     /
    stats refresh 1s
    stats show-legends
	stats admin if TRUE

frontend redis-alpha
    bind *:6379
    default_backend redis-alpha



backend redis-alpha
    mode tcp
	balance first
    # option tcplog
    option tcp-check

	# option tcp-check
	# tcp-check connect port 6666

    # tcp-check send AUTH\ foobar\r\n
    #tcp-check expect +OK
    # tcp-check connect
    # tcp-check send PING\r\n
    # tcp-check send string PING\r\n
   # tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    # tcp-check expect string repl_backlog_active:1


    #tcp-check send QUIT\r\n
    #tcp-check expect string +OK

    server redis-alpha:127.0.0.1:6666 127.0.0.1:6666 maxconn 1024 check inter 1s
	#rise 10s
    server redis-alpha:127.0.0.1:6667 127.0.0.1:6667 maxconn 1024 check inter 1s
    server redis-alpha:127.0.0.1:6668 127.0.0.1:6668 maxconn 1024 check inter 1s
	#rise 10s


backend redis-online
    mode tcp
	balance first
    option tcp-check

    tcp-check send PING\r\n
    # tcp-check send string PING\r\n
   tcp-check expect string +PONG

    server redis-alpha:127.0.0.1:6666 127.0.0.1:6666 maxconn 1024 check inter 1s
	#rise 10s
    server redis-alpha:127.0.0.1:6667 127.0.0.1:6667 maxconn 1024 check inter 1s
    server redis-alpha:127.0.0.1:6668 127.0.0.1:6668 maxconn 1024 check inter 1s
	#rise 10s


# backend redis-slave
#     mode tcp
# 	balance first
#
#     option tcp-check
#     tcp-check send info\ replication\r\n
#     tcp-check expect string role:slave
#
#     server redis1 127.0.0.1:6666 maxconn 1024 check inter 1s
# 	#rise 10s
#     server redis2 127.0.0.1:6667 maxconn 1024 check inter 1s
# 	#rise 10s
#
# # listen admin
